﻿@model ProblemModel.CreateView

@{
    ViewData["Title"] = "Create";
}

<div style="padding-top:15px"></div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Problem</h2>

        <h4>Create</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

        <div>
            <a class="btn btn-default" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
