﻿@model ProblemModel.DeleteView

@{
    ViewData["Title"] = "Delete";
}

<div style="padding-top:15px"></div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Problem</h2>

        <h4>Delete</h4>
        <hr />

        <h3>Are you sure you want to delete this?</h3>

        <div class="form-group">
            <span>@Model.Name</span>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>

        <div>
            <a class="btn btn-default" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>
