﻿@model IEnumerable<ProblemModel.IndexItem>

@{
    ViewData["Title"] = "Index";

    IEnumerable<string> problemPool = Model.Select(i => i.Name).ToList();
}

<div style="height: 95vh; text-align:center">

    <div style="height:10vh"></div>

    <h2>Problem Generator</h2>

    <div class="row" style="height:150px; padding:50px 0px;">
        <div class="col-md-4 col-md-offset-3" style="background-color:aliceblue; border:2px solid blue; height:100%; text-align:center">
            <span id="display-problem" style="text-align:center; vertical-align:middle; line-height:46px">Selecting from @(problemPool.Count()) problems.</span>
        </div>

        <div class="col-md-2" style="height:100%">
            <button onclick="getRandomProblem()" class="btn btn-primary" style="height:inherit; width:100%">Pick Random</button>
        </div>
    </div>

    <div style="height:45vh"></div>

    <span><b class="glyphicon glyphicon-chevron-down"></b> Scroll down for complete list! <b class="glyphicon glyphicon-chevron-down"></b></span>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <p>
            <a class="btn btn-success" asp-action="Create">Add Problem</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="float:right">
                            <!--<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>-->
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>
    var problemPool = @Html.Raw(Json.Serialize(problemPool));

    var problemDisplay = $("#display-problem");

    function getRandomProblem() {

        if (problemPool.length <= 0) {
            problemDisplay.text("No problems to pick from");
        }
        else {
            var index = Math.floor(Math.random() * problemPool.length);
            problemDisplay.text(problemPool[index]);
        }
    }

</script>