﻿@{
    ViewData["Title"] = "Home Page";
}

<!--Directly a load item after the menu causes it to go under the menu-->

<div id="promo">
    <div class="jumbotron">
        <h1>Welkom bij het projecten portal</h1>
        <p>Hier vind je alle projecten</p>
    </div>
</div>

<div id="home-slide"></div>

<div id="home-menu"></div>


<script>
    $("#home-menu").load("/page/component/home-menu.html");
    $("#home-slide").load("/page/component/home-slide.html");
</script>