﻿@model string

@{
    ViewData["Title"] = "Static";
}

<!--Directly a load item after the menu causes it to go under the menu-->
<div style="padding-top:30px"></div>

<div id="load-content"></div>

<script>
    $("#load-content").load("/page/@Model");
</script>