﻿<div class="projects-horizontal" style="background-color: #cccccc;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Java&nbsp;Projecten</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-5"><a href="#"><img class="img-responsive" src="/images/projects/desk.jpg"></a></div>
                    <div class="col-md-7">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-5"><a href="#"><img class="img-responsive" src="/images/projects/building.jpg"></a></div>
                    <div class="col-md-7">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-5"><a href="#"><img class="img-responsive" src="/images/projects/loft.jpg"></a></div>
                    <div class="col-md-7">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-5"><a href="#"><img class="img-responsive" src="/images/projects/minibus.jpeg"></a></div>
                    <div class="col-md-7">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>