﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OfficeCrewTeam</title>

    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/Simple-Slider.css">
    <link rel="stylesheet" href="~/css/Team-Boxed.css">
    <link rel="stylesheet" href="~/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="~/css/styles.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

<body style="background-color:#cccccc; padding-top:51px; max-width:100%; overflow-x:hidden">
    <nav class="navbar navbar-default navbar-fixed-top navbar-default" style="margin-bottom: 0px;background-color: #000000">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" style="color: rgb(255,255,255);font-size: 28px;" href="/Home/Index"><strong>Home</strong></a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-left">
                    <li role="presentation"><a href="/home/static?page=teams.html" style="color: rgb(255,255,255);font-size: 18px;">Teams</a></li>
                    <li role="presentation"><a href="/Problems/Index" style="color: rgb(255,255,255);font-size: 18px;">Problem Generator</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="footer-basic" style="background-color: #cccccc;">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li><a href="/Home/Index/#">Home</a></li>
                <li><a href="/home/static?page=teams.html">Teams</a></li>
                <li><a href="/Problems/Index">Probleem Generator</a></li>
            </ul>
            <p class="copyright">Young Capital Next © 2020</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>